linux/install_base.sh
linux/install_base.sh
**/*~
**/*.bak
**/*.sw[abcdefghijklmnop]

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.pyc
*.pyo

*.bak
*.log
*.sql
*.sqlite

Thumbs.db
desktop.ini

*id_rsa*
